<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.dao.ThingDao">
	<resultMap type="Thing" id="ThingResult">
		<result property="id" column="id"/>
		<result property="thingName" column="thingName"/>
	</resultMap> 
	<select id="getThingById" parameterType="Integer" resultMap="ThingResult">
		select * from t_thing where id=#{id}
	</select>
	<select id="getThingByName" parameterType="String" resultMap="ThingResult">
		select * from t_thing where thingName=#{thingName}
	</select>
	<insert id="addThing" parameterType="String">
		insert into t_thing(id,thingName) values(null,#{thingName})
	</insert>
</mapper>