.icon-upload{
	background:url('upload.png') no-repeat center center;
}
.icon-home{
	background:url('home.png') no-repeat center center;
}
.icon-add-pay{
	background:url('add_pay.png') no-repeat center center;
}
.icon-separator{
	background:url('separator.png') no-repeat center center;
}